# config for script lsi.sh

data_link="https://public.ukp.informatik.tu-darmstadt.de/thakur/BEIR/datasets/trec-covid.zip"

wd="/u/dssc/mzampar/scratch/IR_Project/"
fig_dir="$wd/fig"
csv_dir="$wd/csv"

data_path_="$wd/datasets"
data_path="$wd/datasets/trec-covid"
data_path_processed="$wd/datasets/trec-covid-processed"
qrels="$wd/datasets/trec-covid-processed/qrels/test.tsv"
queries="$wd/datasets/trec-covid-processed/queries.jsonl"
doc_titles="$wd/datasets/trec-covid-processed/doc_titles.csv"

n_terms=-1
n_grams=1
min_df=15
max_df=0.5

tf_out_matrix="$wd/tf_idf-${n_terms}_terms-${n_grams}_grams-${min_df}_min_df-${max_df}_max_df/trec-covid-tfidf_sparse.npz"
tf_out_vocabulary="$wd/tf_idf-${n_terms}_terms-${n_grams}_grams-${min_df}_min_df-${max_df}_max_df/trec-covid-tfidf_vocabulary.json"
tf_out_doc_ids="$wd/tf_idf-${n_terms}_terms-${n_grams}_grams-${min_df}_min_df-${max_df}_max_df/trec-covid-tfidf_docids.json"
tfidf_values="$wd/tf_idf-${n_terms}_terms-${n_grams}_grams-${min_df}_min_df-${max_df}_max_df/trec-covid-tfidf_values.npy"

n_components=150

min_rel_docs=100

svd_out_dir="$wd/svd-${n_terms}_terms-${n_grams}_grams-${n_components}_components-${min_df}_min_df-${max_df}_max_df"
sv_plot="$fig_dir/svd-${n_terms}_terms-${n_grams}_grams-500_values.png"

out_csv="$csv_dir/efficiency-${n_terms}_terms-${n_grams}_grams-${n_components}_components-${min_df}_min_df-${max_df}_max_df-${min_rel_docs}_min_rel_docs.tsv"
out_fig="$fig_dir/efficiency-${n_terms}_terms-${n_grams}_grams-${n_components}_components-${min_df}_min_df-${max_df}_max_df-${min_rel_docs}_min_rel_docs.png"
